@model IEnumerable<OnlineDiagnosticSystem.Models.PatientAppointReportMV>

@{
    ViewBag.Title = "Report";
}

<h2>Enter Patient Report Details: @ViewBag.TestName</h2>

<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<div class="card shadow mb-4">
    <div class="card-header py-3">

        <input type="text" id="search" name="search" class="form-control col-md-3" style="float:right;" placeholder="search here" />
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-hover" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>

                        <th style="display:none;">
                            LabAppointID
                        </th>
                        <th style="display:none;">
                            LabTestDetailID
                        </th>
                        <th>
                            Report Detail
                        </th>
                        <th>
                            Min Value
                        </th>
                        <th>
                            Max Value
                        </th>
                        <th>
                            PatientValue
                        </th>



                    </tr>
                </thead>
                <tbody id="searchvalue">
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td style="display:none;">
                                @Html.DisplayFor(modelItem => item.LabAppointID)
                            </td>
                            <td style="display:none;">
                                @Html.DisplayFor(modelItem => item.LabTestDetailID)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.DetailName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.MinValue)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.MaxValue)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.PatientValue)
                            </td>
                            
                            
                        </tr>
                    }

                </tbody>
            </table>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $("#search").on("keyup", function () {
            var value = $(this).val().toLowerCase();
            $("#searchvalue tr").filter(function () {
                $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
            });
        });
    });
</script>

