@model IEnumerable<DatabaseLayer.PatientTestDetailTable>

@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Print Report</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/bundles/modernizr")
    <style>
        .btn {
            display: inline-block;
            padding: 10px 20px;
            margin: 10px;
            border: 1px solid #ccc;
            border-radius: 5px;
            background-color: #f8f9fa;
            text-decoration: none;
            color: #333;
        }

            .btn:hover {
                background-color: #e2e6ea;
            }

        .btn-default {
            /* Additional styles for .btn-default if needed */
        }
    </style>
</head>
<body>
    <div class="form-group">
        <a href="javascript:window.print()" style="float:left; margin:30px;" class="btn btn-default">
            <i class="fas fa-print"></i> Print
        </a>

        <table class="table table-bordered">
            <tr>
                <td>
                    Test Title: <h3 class="text-black">@ViewBag.TestName</h3>
                </td>
                <td>
                    Lab Title: <h3 class="text-black">@ViewBag.Lab</h3>
                </td>
                <td>
                    Patient Name: <h3 class="text-black">@ViewBag.Patient</h3>
                </td>
            </tr>
            <tr>
                <td>
                    Appointment No: <h3 class="text-black">@ViewBag.AppointmentNo</h3>
                </td>
                <td>
                    <img src="@Url.Content(ViewBag.LabLogo)" style="height:50px; width:50px;" />
                </td>
                <td>
                    <img src="@Url.Content(ViewBag.PatientPhoto)" style="height:50px; width:50px;" />
                </td>
            </tr>
        </table>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-hover" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>Details</th>
                        <th>Min Value</th>
                        <th>Max Value</th>
                        <th>Patient Value</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.LabTestDetailsTable.Name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.LabTestDetailsTable.MinValue)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.LabTestDetailsTable.MaxValue)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.PatientValue)
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</body>
</html>
