<!DOCTYPE html>
<html class="no-js">
 <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <title>O-D-LAB</title>
    <meta name="description" content="">
    <!-- Mobile Specific Meta -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- <link rel="shortcut icon" href="img/favicon.png"> -->
    <link href="~/Content/DeshboardTemplate/css.css" rel="stylesheet" />
    <!-- Syntax Highlighter -->
    <link rel="stylesheet" type="text/css" href="~/Content/DeshboardTemplate/syntax-highlighter/styles/shCore.css" media="all">
    <link rel="stylesheet" type="text/css" href="~/Content/DeshboardTemplate/syntax-highlighter/styles/shThemeDefault.css" media="all">

    <!-- Font Awesome CSS-->
    <link rel="stylesheet" href="~/Content/DeshboardTemplate/css/font-awesome.min.css">
    <!-- Normalize/Reset CSS-->
    <link rel="stylesheet" href="~/Content/DeshboardTemplate/css/normalize.min.css">
    <!-- Main CSS-->
    <link rel="stylesheet" href="~/Content/DeshboardTemplate/css/main.css">

    <link rel="stylesheet" href="~/Content/FrontTamplate/css/bootstrap.css">
    <link rel="stylesheet" href="~/Content/FrontTamplate/css/themify-icons.css">
    <link rel="stylesheet" href="~/Content/FrontTamplate/css/flaticon.css">
    <link rel="stylesheet" href="~/Content/FrontTamplate/vendors/fontawesome/css/all.min.css">
    <link rel="stylesheet" href="~/Content/FrontTamplate/vendors/owl-carousel/owl.carousel.min.css">
    <link rel="stylesheet" href="~/Content/FrontTamplate/vendors/animate-css/animate.css">
    <!-- main css -->
    <link rel="stylesheet" href="~/Content/FrontTamplate/css/style.css">
    <link rel="stylesheet" href="~/Content/FrontTamplate/css/responsive.css">


    <!--a-->
    <link href="~/Content/AdminTemplate/vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet" />

    <style>
        #topFixedNavbar1 {
            overflow-y: scroll !important;
            max-height: 500px !important;
        }
    </style>


</head>

<body id="welcome">
    <aside class="left-sidebar">
        <div class="logo">
            <a href="#welcome">
                <img src="~/Content/DeshboardTemplate/img/logo.png" alt="">
            </a>
        </div>
        <nav class="left-nav" id="topFixedNavbar1">
            <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" title="Toggle navigation" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <ul id="main-nav">
                <li class="current"><a href="#welcome">Welcome</a></li>
                <li>@Html.ActionLink("Change Password", "ChangePassword", "Home", null, null)</li>
                @{
                    if (Session["UserTypeID"] != null)
                    {
                        var usertype = Convert.ToString(Session["UserTypeID"]);
                        int value = Convert.ToInt32(usertype.Trim());
                        if (value == 1)
                        {
                            <li>@Html.ActionLink("Account Type", "Index", "AccountTypeTables", null, null)</li>
                            <li>@Html.ActionLink("All User", "Index", "UserTables", null, null)</li>
                            <li>@Html.ActionLink("Pending(Lab) Request", "Index", "UserTables", null, null)</li>
                            <li>@Html.ActionLink("Pending(Doctor) Request", "Index", "UserTables", null, null)</li>
                            <li>@Html.ActionLink("All Doctors", "Index", "UserTables", null, null)</li>
                            <li>@Html.ActionLink("All Lab's", "Index", "UserTables", null, null)</li>
                            <li>@Html.ActionLink("All Patient's", "Index", "UserTables", null, null)</li>
                        }

                        else if (value == 3)
                        {
                            //Lab User Access
                            <li>@Html.ActionLink("Time Slot", "Index", "LabTimeSlotTables", null, null)</li>
                            <li>@Html.ActionLink("All test", "LabAllTest", "LabSetting", null, null)</li>
                            <li>@Html.ActionLink("Add Test", "AddTest", "LabSetting", null, null)</li>
                            <li>@Html.ActionLink("Current Appointment", "CurrentAppointment", "LabAppointment", null, null)</li>
                            <li>@Html.ActionLink("Pending Appointment", "PendingAppointment", "LabAppointment", null, null)</li>
                            <li>@Html.ActionLink("Cancel Appointment", "CancelAppointment", "LabAppointment", null, null)</li>
                            <li>@Html.ActionLink("Complete Appointment", "CompleteAppointment", "LabAppointment", null, null)</li>
                            <li>@Html.ActionLink("All Appointment", "AllAppointment", "LabAppointment", null, null)</li>
                            <li>@Html.ActionLink("Appointment Report", "AppointmentReport", "LabAppointment", null, null)</li>
                        }

                        else if (value == 2)
                        {
                            //Doctor User Access
                            <li>@Html.ActionLink("Time Slot", "Index", "DoctorTimeSlotTables", null, null)</li>
                            <li>@Html.ActionLink("Current Appointment", "CurrentAppoint", "DoctorApprove", null, null)</li>
                            <li>@Html.ActionLink("Pending Appointment", "PendingAppoint", "DoctorApprove", null, null)</li>
                            <li>@Html.ActionLink("Complete Appointment", "CompleteAppointment", "DoctorApprove", null, null)</li>
                            <li>@Html.ActionLink("All Appointment", "AllAppoint", "DoctorApprove", null, null)</li>
                            <li>@Html.ActionLink("Appointment Report", "AppointmentReport", "DoctorApprove", null, null)</li>
                        }

                        else if (value == 4)
                        {
                            //Patient User Access

                            <li>@Html.ActionLink("All Labs", "GetAlllabs", "PatientAppoint", null, null)</li>
                            <li>@Html.ActionLink("All Doctors", "GetAllDoctors", "PatientAppoint", null, null)</li>




                            <li>@Html.ActionLink("Pending(Lab) Appointment", "PendingAppoint", "LabAppointStatus", null, null)</li>
                            <li>@Html.ActionLink("Current(Lab) Appointment", "CurrentAppoint", "LabAppointStatus", null, null)</li>
                            <li>@Html.ActionLink("Cancel(Lab) Appointment", "CancelAppoint", "LabAppointStatus", null, null)</li>
                            <li>@Html.ActionLink("Complete(Lab) Appointment", "CompleteAppoint", "LabAppointStatus", null, null)</li>
                            <li>@Html.ActionLink("All(Lab) Appointment", "AllAppoint", "LabAppointStatus", null, null)</li>
                            <li>@Html.ActionLink("Appointment(Lab) Report", "AppointmentReport", "LabAppointStatus", null, null)</li>

                            <li>@Html.ActionLink("All(Doctor) Appointment", "AllAppoint", "DoctorAppointStatus", null, null)</li>
                            <li>@Html.ActionLink("Pending(Doctor) Appointment", "PendingAppoint", "DoctorAppointStatus", null, null)</li>
                            <li>@Html.ActionLink("Current(Doctor) Appointment", "CurrentAppoint", "DoctorAppointStatus", null, null)</li>
                            <li>@Html.ActionLink("Cancel(Doctor) Appointment", "CancelAppoint", "DoctorAppointStatus", null, null)</li>
                            <li>@Html.ActionLink("Complete(Doctor) Appointment", "CompleteAppoint", "DoctorAppointStatus", null, null)</li>
                            <li>@Html.ActionLink("Appointment(Doctor) Report", "AppointmentReport", "DoctorAppointStatus", null, null)</li>
                        }
                    }
                }
                <li>@Html.ActionLink("Logout", "LogoutUser", "Home", null, null)</li>

            </ul>
        </nav>
    </aside>

    <div id="main-wrapper">
        <div class="main-content">
            <section id="welcome">
                <div class="content-header">
                    <h1>Online Diagnostic Lab System</h1>
                </div>
                @RenderBody()
            </section>
        </div>
    </div>


    <!-- Essential JavaScript Libraries
    ==============================================-->

    <script type="text/javascript" src="~/Content/DeshboardTemplate/js/jquery-1.11.0.min.js"></script>
    <script type="text/javascript" src="~/Content/DeshboardTemplate/js/jquery.nav.js"></script>
    <script type="text/javascript" src="~/Content/DeshboardTemplate/syntax-highlighter/scripts/shCore.js"></script>
    <script type="text/javascript" src="~/Content/DeshboardTemplate/syntax-highlighter/scripts/shBrushXml.js"></script>
    <script type="text/javascript" src="~/Content/DeshboardTemplate/syntax-highlighter/scripts/shBrushCss.js"></script>
    <script type="text/javascript" src="~/Content/DeshboardTemplate/syntax-highlighter/scripts/shBrushJScript.js"></script>
    <script type="text/javascript" src="~/Content/DeshboardTemplate/syntax-highlighter/scripts/shBrushPhp.js"></script>
    <script type="text/javascript">
        SyntaxHighlighter.all()
    </script>
    <script type="text/javascript" src="~/Content/DeshboardTemplate/js/custom.js"></script>
    @*@Scripts.Render("~/bundles/jquery")*@
    @*@Scripts.Render("~/bundles/bootstrap")*@
    @*@RenderSection("scripts", required: false)*@

    <!-- Page level plugins -->
    <script src="~/Content/AdminTemplate/vendor/datatables/jquery.dataTables.min.js"></script>
    <script src="~/Content/AdminTemplate/vendor/datatables/dataTables.bootstrap4.min.js"></script>

    <!-- Page level custom scripts -->
    <script src="~/Content/AdminTemplate/js/demo/datatables-demo.js"></script>


    <script src="~/Content/FrontTamplate/js/jquery-2.2.4.min.js"></script>
    <script src="~/Content/FrontTamplate/js/popper.js"></script>
    <script src="~/Content/FrontTamplate/js/bootstrap.min.js"></script>
    <script src="~/Content/FrontTamplate/js/stellar.js"></script>
    <script src="~/Content/FrontTamplate/vendors/owl-carousel/owl.carousel.min.js"></script>
    <script src="~/Content/FrontTamplate/js/jquery.ajaxchimp.min.js"></script>
    <script src="~/Content/FrontTamplate/js/waypoints.min.js"></script>
    <script src="~/Content/FrontTamplate/js/mail-script.js"></script>
    <script src="~/Content/FrontTamplate/js/contact.js"></script>
    <script src="~/Content/FrontTamplate/js/jquery.form.js"></script>
    <script src="~/Content/FrontTamplate/js/jquery.validate.min.js"></script>
    <script src="~/Content/FrontTamplate/js/mail-script.js"></script>
    <script src="~/Content/FrontTamplate/js/theme.js"></script>
</body>

</html>
